body
{
	background-image: url("../img/tlo3.gif");
	font-family: 'Poiret One', cursive;
	
}
#kontenerKontakt
{
	width: 100%;
	margin: 140px auto 0;
}
/* ----------------------------- Formularz E-mail ----------------------------- */
#kontenerKontakt #email
{
	background: rgba(0, 0, 0, 0.1);
	padding: 30px 0;
}
#kontenerKontakt #email #emailTekst
{
	font-size: 30px;
	text-align: center;
	letter-spacing: 10px;
	padding-bottom: 10px;
}
#kontenerKontakt #email #emailFormularz
{
	width:50%;
	margin: 20px auto;
	background: #f2f2f2;
	padding: 30px;
	border:1px solid #262626;
	font-size: 20px;
	opacity: 0.9;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	font-family: 'Poiret One', cursive;
}
input[type=email]
{
	width: 100%;
	margin-bottom:8px;
	background: #f7f7f7;
	border: 1px double #b5b5b5;
	border-radius: 5px;
	font-size: 20px;
	color: #000;
	padding: 5px 0;
	font-family: 'Poiret One', cursive;
}
textarea
{
	width: 100%;
	background:#f7f7f7;
	border: 1px double #b5b5b5;
	border-radius: 5px;
	font-size: 20px;
	color: #000;
	padding: 5px 0;
	font-family: 'Poiret One', cursive;
}
input[type=submit]
{
	background:#000;
	border:0px;
	width:100px;
	border: 1px double #b5b5b5;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	padding: 5px 0;
	opacity: 0.8;
	font-family: 'Poiret One', cursive;
}
input[type=email]:focus,
textarea:focus
{
	color: #000;
	font-family: 'Poiret One', cursive;
}
input[type=submit]:hover
{
	background-color: #474747;
}

#kontenerKontakt #emailFormularz #inputEmail
{ 
	text-align: center;
	opacity:1;
}
#kontenerKontakt #emailFormularz #inputWiadomosc
{ 
	text-align: center;
	
}
#kontenerKontakt #emailFormularz #inputSubmit
{
	text-align: right;
	margin-top: 10px;
}
/* ----------------------------- Social Media ----------------------------- */

#kontenerKontakt #socialmedia
{
	background: rgba(0, 0, 0, 0.7);
	padding-bottom: 40px;
}
#kontenerKontakt #socialmedia #socialmediaTekst
{
	font-size: 20px;
	text-align: center;
	letter-spacing: 5px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	padding: 10px;
}
#kontenerKontakt #socialmedia #socialmediaTekst #tekst
{
	width: 80%;
	margin: 0 auto;
}
#kontenerKontakt #socialmedia #socialmediaLinki #kolumny
{
	text-align: center;
}
#kontenerKontakt #socialmedia #socialmediaLinki #kolumny #kolumnaLewa
{
	display: inline-block;
	width: 20%;
}
#kontenerKontakt #socialmedia #socialmediaLinki #kolumny #kolumnaPrawa
{
	display: inline-block;
	width: 20%;
}
#kontenerKontakt #socialmedia #socialmediaLinki #kolumny #kolumnaLewa a{
	font-size: 100px;
	border: 3px solid #FFF;
	border-radius: 50%;
	padding: 10px 0;
}
#kontenerKontakt #socialmedia #socialmediaLinki #kolumny #kolumnaLewa a:hover{
	background: #3557A2;
}
#kontenerKontakt #socialmedia #socialmediaLinki #kolumny  #kolumnaPrawa a{
	font-size: 100px;
	border: 3px solid #FFF;
	border-radius: 50%;
	padding: 10px 0;
}
#kontenerKontakt #socialmedia #socialmediaLinki #kolumny #kolumnaPrawa a:hover{
	background: url("../img/instaBackground.png");
}
/* ----------------------------- LOKALIZACJA ----------------------------- */
#kontenerKontakt #adres
{
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	padding-left:100px;
}
#kontenerKontakt #adres #adresLewy
{
	display: inline-block;
	text-align: left;
	
}
#kontenerKontakt #adres #adresPrawy
{
	display: inline-block;
	text-align: left;
}
