body
{
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-size: cover;
	margin: 0;
	padding: 0;
	color: #FFF;
}
body a{
	color: #FFF;
	text-decoration: none;
}
#kontener{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

/* ----------------------------- MENU ----------------------------- */
#menu{
	display: block;
	width: 100%;
}
#menu ul{
	text-align: right;
	margin: 10px 4% 50px;
	padding: 0;
}
#menu ul li{
	display: inline-block;
	list-style-type: none;
	font-size: 25px;
	margin-left: 10px;
}
#menu ul li:hover a{
	color: #AAA;
}

/* ----------------------------- LOGO ----------------------------- */
#logo{
	display: block;
	width: 800px;
	margin: 0 auto;
}
#logo #prostokat{
	border: 1px solid #FFF;
	width: 800px;
	height: 400px;
}
#logo > p{
	font-size: 50px;
	letter-spacing: 30px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	position: relative;
	top: -30px;
}
#logo #prostokat p{
	font-family: 'Herr Von Muellerhoff', cursive;
	font-size: 200px;
	letter-spacing: 50px;
	text-align: center;
	margin: 58px 0;
}

/* ----------------------------- KATEGORIE OFERTY ----------------------------- */
#kontenerOferty{
	width: 100;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px 0;
	margin-top: 50px;
}
#kontenerOferty #oferty{
	width: 80%;
	margin: 0 auto;
}
#kontenerOferty #oferty .oferta{
	display: inline-block;
	width: 30%;
	margin: 0 5%;
	position: relative;
	overflow: hidden;
}
#kontenerOferty #oferty .oferta:first-child{
	margin: 0;
	float: left;
}
#kontenerOferty #oferty .oferta:nth-child(3){
	margin: 0;
	float: right;
}
#kontenerOferty #oferty .oferta img{
	width: 100%;
}
#kontenerOferty #oferty .oferta .element{
	position: relative;
}
#kontenerOferty #oferty .oferta .element .link{
	position: absolute;
	display: block;
	width: 100%;
	height: calc(100% - 4px);
	background-color: #000;
	left: 0px;
	top: 0px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}
#kontenerOferty #oferty .oferta .element .link .content{
	text-align: center;
	width: 50%;
	margin: auto;
}
#kontenerOferty #oferty .oferta .element .link .content p{
	border: 1px solid #fff;
}		
#kontenerOferty #oferty .oferta .element:hover .link{
	opacity: 0.8;
}
#kontenerOferty #oferty #opisOferty h1{
	text-align: center;
}#kontenerOferty #oferty #opisOferty p{
	text-align: justify;
}