body
{
	background-image: url("../img/background.jpg");
	font-family: 'Poiret One', cursive;
}

/* ----------------------------- LOGO ----------------------------- */
#miniLogo{
	float: left;
	margin-left: 100px;
}
#miniLogo #logo{
	width: 200px;
	margin: 12.5px auto 0;
}
#miniLogo #logo #prostokat{
	border: 0.5px solid #FFF;
	width: 200px;
	height: 100px;
}
#miniLogo #logo > p{
	font-size: 12.5px;
	letter-spacing: 7.5px;
	top: -7.5px;
}
#miniLogo #logo #prostokat p{
	font-size: 67px;
	margin: 14.5px 0;
	margin-left: -7px;
}

/* ----------------------------- MENU ----------------------------- */
#menu{
	height: 140px;
}

/* ----------------------------- NAVBAR ----------------------------- */
#navBar{
	width: 100%;
	display: block;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.9) 15%, rgba(255, 255, 255, 0.9) 85%, rgba(255, 255, 255, 0.5) 100%);
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	top: 140px;
	z-index: 100;
}
#navBar ul{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
#navBar ul li{
	display: block;
	width: 33%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	float: left;
}
#navBar ul a{
	color: #000;
	text-align: center;
}
#navBar ul li:hover{
	background: linear-gradient(90deg, rgba(50, 102, 71, 0) 0%, rgba(50, 102, 71, 0.3) 25%, rgba(50, 102, 71, 0.3) 75%, rgba(50, 102, 71, 0) 100%);
}
#navBar ul ul li{
	width: calc(100% - 100px);
	padding-left: 100px;
}

/* ----------------------------- ZAWARTOŚĆ STRONY ----------------------------- */
#kontener{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
#kontener #zawartosc{
	width: 80%;
	margin: 200px auto 0;
}
#kontener #zawartosc #tytul h1::after{
	content: "";
	width: 50%;
	min-width: 450px;
	border-bottom: 1px solid #fff;
	display: block;
}
#kontener #zawartosc #zdjecia{
	
}
#kontener #zawartosc #zdjecia #zdjecie{
	width: 25%;
	display: block;
	float: left;
	margin: 0 50px 50px 0;
}
#kontener #zawartosc #zdjecia #zdjecie:hover{
	cursor: pointer;
}
#kontener #zawartosc #zdjecia #zdjecie #grafikaZdjecia{
	width: 100%;
}
#kontener #zawartosc #zdjecia #zdjecie #grafikaZdjecia img{
	width: 100%;
}
#kontener #zawartosc #zdjecia #zdjecie #podpisZdjecia{
	
}
#kontener #zawartosc #zdjecia #zdjecie #podpisZdjecia p{
	margin: 0;
	font-style: italic;
}
#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#photos #container .box img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}